.chat-window{
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 150px;
}

.divcss5-right{
	height: 500px;
	width: 750px;
	float: right;
	/*solid-color: black;*/
	/*border:1px solid black;*/
}
.divcss-right{
	float: right;
	width: 550px;
	height: 300px;
	/*solid-color: black;*/
	/*border:1px solid black;*/
}
/* css注释：对divcss5-right设置float:right即可让对象靠右浮动 */

/*
定义标题的css格式
 */
#title 		{ font-size: 5em; text-align: center;}
#subtitle { font-size: 3em; font-style: italic; text-align: center}



a{text-decoration: none;}
table {border-collapse:collapse;width: 100%;font-size: 14px;}
th{background-color: #ddd;}
table, td, th {border:1px solid #e7e8ec;}
th,tr{height: 40px;}
td {text-align: center;}
tr:hover{background-color: #f9f4f3;}
.barcon {width: 1000px;margin: 0 auto;text-align: center;}
.barcon2 {float: right;}
.barcon2 ul {margin: 20px 0;padding-left: 0;list-style: none;text-align: center;}
.barcon2 li {display: inline;}
.barcon2 a {font-size: 16px;font-weight: normal;display: inline-block;padding: 5px;padding-top: 0;color: black;border: 1px solid #ddd;background-color: #fff;}
.barcon2 a:hover{background-color: #eee;}
.ban {opacity: .4;}

.battleship-board-square, .battleship-board-square {
	padding: 0;
	margin: 0;
	width: 2em;
	height: 2em;
	overflow: hidden;
	border: 1px solid black;
	background-size: 4em 4em;
	background-repeat: no-repeat;
}

.my-board{
	/*display: inline-block;*/
	float: left;
	vertical-align: top;
	width: 400px;
	height: 400px;
	margin: 50px;
	/*table-layout: fixed;*/
}

.their-board{
	float: right;
	vertical-align: top;
	width: 400px;
	height: 400px;
	margin: 50px;
	/*table-layout: fixed;*/
}

#game-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


